[Unit]
Description=Atlassian Bamboo Service

[Service]
Type=forking
ExecStart=/opt/atlassian/bamboo/atlassian-bamboo-{{ bamboo_version }}/bin/start-bamboo.sh
ExecStop=/opt/atlassian/bamboo/atlassian-bamboo-{{ bamboo_version }}/bin/stop-bamboo.sh
User=bamboo
Restart=always

[Install]
WantedBy=multi-user.target
